{% extends 'base.html' %}

{% block content %}
    <div class="max-w-lg mx-auto mt-10">
        <h2 class="text-2xl font-semibold text-gray-700 mb-6">
            {% if country %} Edit Country {% else %} Create Country {% endif %}
        </h2>
        
        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="mb-4">
                {{ form.name.label(class_="block text-gray-700 text-sm font-bold mb-2") }}
                {{ form.name(class_="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
                {% for error in form.name.errors %}
                    <span class="text-red-500 text-sm">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="flex items-center justify-between">
                {{ form.submit(class_="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline") }}
                <a class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" href="{{ url_for('country.country_list')}}">Voltar</a>
            </div>
        </form>
    </div>
{% endblock %}
